
{% extends "base.html" %}

{% block content %}
    {% load static %}
    <div class="container">
    {% if car.photo %}
      <img src="{{ car.photo.url }}" class="card-img-top" alt="...">
    {% else %}
      <img src="{% static 'img/no-image.png' %}" class="card-img-top">
    {% endif %}
    <h4>{{ car.car_model_id.brand }} {{ car.car_model_id.model }}</h4>
    <hr/>
    <p><strong>Savininkas:</strong> {{ car.client }}</p>
    <p><strong>Valstybinis numeris:</strong> {{ car.plates }}</p>
    <p><strong>VIN kodas:</strong> {{ car.vin_code }}</p>
    {% if car.description %}
        <h3>Aprašymas:</h3>
        <p>{{ car.description | safe }}</p>
        {% endif %}
    </hr>
    </br>
    </div>
{% endblock %}